# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Mac OS folder attributes
.DS_Store

# Archives
*.zip
*.tar.gz
*.rar

# IDEs / Editors
.vscode/
.idea/
*.swp

# Logs and databases
*.log
*.sqlite3

# Project specific
